h1 {
  width: 400px;
  color: black;
  text-align: center;
  font-family: "Knewave", sans-serif;
  font-size: 50px;
  margin: auto;
}

body {
  background-color: bisque;
}

.wordle-game {
  background-color: rgb(116, 124, 87);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  height: 550px;
  justify-content: center;
  border-radius: 20px;
}

.wordle-row {
  display: flex;
  gap: 5px;
  margin: 0 auto;
  padding: 10px;
}

.letter-box {
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
}
