h1 {
  width: 400px;
  color: black;
  text-align: center;
  font-family: "Knewave", sans-serif;
  font-size: 50px;
  margin: auto;
}

body {
  background-color: bisque;
}

.wordle-game {
  background-color: rgb(116, 124, 87);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
  height: 550px;
  justify-content: center;
  border-radius: 20px;
}

.wordle-row {
  display: flex;
  gap: 5px;
  margin: 0 auto;
  padding: 10px;
}

.letter-box {
  width: 60px;
  height: 60px;
  border: 2px solid #d3d6da;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
}
ul {
  display: flex;
  gap: 5px;
}
li {
  list-style-type: none;
}

footer {
  text-align: center;
  margin-bottom: 2rem;
}

.game-over {
  flex-direction: column;
  width: 250px;
  height: 200px;
  text-align: center;
  position: fixed;
  top: 30%;
  left: 45%;
  z-index: 1000;
  background-color: brown;
  align-content: center;
  gap: 15px; /* Öka från 20px till mer space */
  padding: 0px 25px;
  padding-top: 20px;
}
