<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Knewave&family=Ultra&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="static/favicon-16x16"
      href="/static/favicon-16x16.png"
    />
    <title>Wordle</title>
  </head>

  <body>
    <h1 id="felixTitle">Felix Wordle</h1>
    <div class="wordle-game">
      <div class="wordle-row active">
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
      </div>
      <div class="wordle-row">
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
      </div>
      <div class="wordle-row">
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
      </div>
      <div class="wordle-row">
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
      </div>
      <div class="wordle-row">
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
      </div>
      <div class="wordle-row">
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
        <div class="letter-box"></div>
      </div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
